<h1>Here are your previously created lists</h1>

      <% names.forEach(function(name) { %>
        <div class="well">
            <h2><a href="/list/<%=name.id%>"><%= name.listName %></a></h2>
            <a href="/list" deleteUrl="/list/<%=name.id%>" class="btn btn-danger glyphicon glyphicon-trash delete-btn"></a>
          
        </div>
        <% }); %>

      
      <form action="/list" method="POST">
        <div class="form-group">
          <label for="listName">Add New Grocery List</label>
          <input type="text" class="form-control" id="list" name="listName"required>
        </div>
      
        <input type="submit" class="btn btn-primary">
      </form>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
      </script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"
       integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
       crossorigin="anonymous"></script>
      <script>
        $('.delete-btn').on('click', function(e){
         // e.preventDefault();
         var deleteUrl =$(this).attr('deleteUrl');
          $.ajax({
            method: 'DELETE',
            url: deleteUrl
          });
        });
      </script>
      
      
